body {
	background-color: brown;
}



.bgimg {
	background-size: 1300px 900px;
    background-repeat: no-repeat;
}


/*.container {
	width : 200px;
	height : 200px;
	position : relative;
	perspective : 200px;

}

#card {
	width : 100px;
	height : 100px;
	position : absolute;
	transform-style : preserve-3d;
	transition : transform 1s;
}

#card figure {
	display : block;
	position : absolute;
	width : 100px;
	height : 100px;
	backface-visibility : hidden;

}

#card .front {
	background : red;

}

#card .back {
	background: blue;
	transform: rotateY( 180deg );

}

#card.flipped {
	transform: rotateY(180deg);
}

#card {
	transform-origin : right center ;
}

#card.flipped {
	transform: translateX( -100%) rotateY( -180deg );
}
*/
#balance {
	font-color: white;
	background: white;
	width: 180px;
}

#amount {
	font-color: white;
	background: white;
	width: 180px;
}

#playerWrap {
    width: 210px;
    height: 200px;
    position: relative;
   
}
#player1 {
    width: 100px;
    height: 150px;
    background: clear;
    position: absolute;
    top: 100px;
    left: 100px;
    z-index: 1;
    border-radius: 8%;
    
}
#player2 {
    width: 100px;
    height: 150px;
    background: clear;
    position: absolute;
    z-index: 2;
    top: 110px;
    left: 140px;
    border-radius: 8%;
}    
#player3 {
    width: 100px;
    height: 150px;
    background: clear;
    position: absolute;
    top: 120px;
    left: 180px;
    z-index: 3;
    border-radius: 8%;
    
}
#player4 {
    width: 100px;
    height: 150px;
    background: clear;
    position: absolute;
    z-index: 4;
    top: 130px;
    left: 220px;
    border-radius: 8%;
}  

#dealerWrap {
    width: 210px;
    height: 200px;
    position: relative;
   
}

#dealer1 {
    width: 100px;
    height: 150px;
    background: clear;
    position: absolute;
    top: 100px;
    left: 100px;
    z-index: 1;
    border-radius: 8%;
    
}
#dealer2 {
    width: 100px;
    height: 150px;
    background: clear;
    position: absolute;
    z-index: 2;
    top: 110px;
    left: 140px;
    border-radius: 8%;
}    
#dealer3 {
    width: 100px;
    height: 150px;
    background: clear;
    position: absolute;
    top: 120px;
    left: 180px;
    z-index: 3;
    border-radius: 8%;
    
}
#dealer4 {
    width: 100px;
    height: 150px;
    background: clear;
    position: absolute;
    z-index: 4;
    top: 130px;
    left: 220px;
    border-radius: 8%;
}  

#card {
	height: 10em;
  	position: relative
}        

.dealer {
   	position: absolute;
   	top: 5%;
   	left: 40%;
  	margin-right: -60%;
  	transform: translate(-50%, -50%)
}

.player {
   	position: absolute;
   	top: 10%;
   	left: 40%;
  	margin-right: -60%;
  	transform: translate(-50%, -50%) 
}

#chips {
	position: absolute;
	display: inline-block;
   	top: 280%;
   	left: 40%;
   	bottom: 20%;
  	margin-right: -60%;
  	transform: translate(-50%, -50%) 
}
#chip {
	border-radius: 100%;
}
.bal #balname {
	position: absolute;
	display: inline-block;
	font-color: black;
	background: white;
	width: 50px;
   	top: 290%;
   	left: 55%;
   	bottom: 20%;
  	margin-right: -45%;
  	transform: translate(-50%, -50%) 
}
.bal #balance {
	position: absolute;
	display: inline-block;
	font-color: black;
	background: white;
	width: 180px;
   	top: 290%;
   	left: 65%;
   	bottom: 20%;
  	margin-right: -35%;
  	transform: translate(-50%, -50%) 
}
.bal #bet {
	position: absolute;
	display: inline-block;
	font-color: black;
	background: white;
	width: 30px;
   	top: 300%;
   	left: 55%;
   	bottom: 20%;
  	margin-right: -45%;
  	transform: translate(-50%, -50%) 
}

.bal #amount {
	position: absolute;
	display: inline-block;
	font-color: black;
	background: white;
	width: 180px;
   	top: 300%;
   	left: 65%;
   	bottom: 20%;
  	margin-right: -35%;
  	transform: translate(-50%, -50%) 
}

.hit {
	position: absolute;
	top: 250%;
   	left: 35%;
   	margin-right: -55%;
  	transform: translate(-50%, -50%) 
}
.deal {
	position: absolute;
	top: 230%;
   	left: 35%;
   	margin-right: -55%;
  	transform: translate(-50%, -50%) 
}
.stand {
	position: absolute;
	top: 250%;
   	left: 65%;
   	margin-right: -35%;
  	transform: translate(-50%, -50%) 
}
.double {
	position: absolute;
	top: 230%;
   	left: 65%;
  	margin-right: -35%;
  	transform: translate(-50%, -50%) 
}

.playAgain {
	position: absolute;
   	top: 310%;
   	left: 42%;
  	margin-right: -58%;
  	transform: translate(-50%, -50%) 
}

.winOrLose {
	 font: italic bold 50px/50px Georgia, serif;
	 position: absolute;
	 text-align: center;
   	top: 220%;
   	left: 20%;
  	margin-right: -55%;
  	transform: translate(-50%, -50%) 
}